<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> Privacy - Media Library Usage Description</key>
	<string>Need Media Library access for uploading Images.</string>
	<key>Auth0ClientId</key>
	<string>Cb0DHAp4LRgygBtDIBSpp66jvJbv4BTc</string>
	<key>Auth0Domain</key>
	<string>saurabhsingh.auth0.com</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>YoMelody</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1437005633236379</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.870917113323-vgq1s736bmcfmodsp32a4no4flha372r</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.Yomelody.payments</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>f3f95bb24798965e3d4206679a50d9c4ab9a883a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>Xq6cieg5b6FFEqSsJHzTnbrW8</string>
					<key>consumerSecret</key>
					<string>GtR8gm0JZySbZfVLlW4YwzCMc8D7ERXIz0C8kdN3TjZ5MBVkxc</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1437005633236379</string>
	<key>FacebookDisplayName</key>
	<string>YoMelody</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Need Camera access for uploading Images.</string>
	<key>NSContactsUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need Microphone access for audio  recording.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need Library access for uploading Images.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>speech use</string>
	<key>Privacy - Calendars Usage Description </key>
	<string>Calendar events</string>
	<key>RequestsOpenAccess</key>
	<true/>
	<key>SoundCloud</key>
	<string>ss</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
